@page "/gamemap2"
@using System.IO;
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas.Canvas2D;
@using sc2dsstats.Models;
@using sc2dsstats.Data;
@using pax.s2decode.Models;
@using System.Text.Json;
@using System.IO;

@inject DSreplays _dsData
@inject IDSdata_cache _dataname;

<head>
    <style>
        canvas {
            /*background-color: whitesmoke;*/
            background-image: url("images/dsmap.png");
        }
    </style>
</head>
@if (replay.ID != replayid)
{
    <div class="d-none">
        @NewReplay()
    </div>
}

@if (loading == true)
{
    <h4>Loading ...</h4>
}
else if (loadFailed == true)
{
    <h4>Loading replay failed.</h4>
}
<div class="row">
    <div>
        @if (replay != null)
        {
            @foreach (var ent in stSpawns)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           class="custom-control-input"
                           name="stSpawn"
                           value="@ent.Key"
                           checked="@stSpawns[ent.Key]"
                           id="cb_spawns_@ent.Key"
                           @onchange="@(() => AddSpawn(ent.Key))" />
                    <label class=" custom-control-label" for="cb_spawns_@ent.Key">
                        Spawn @ent.Key
                    </label>
                </div>
            }
            <br />
            @foreach (dsplayer pl in replay.PLAYERS.OrderBy(o => o.REALPOS))
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           class="custom-control-input"
                           name="repPlayers"
                           checked="@stPlayers[pl.REALPOS]"
                           value="@pl.REALPOS"
                           id="cb_@pl.NAME"
                           @onchange="@(() => AddPlayer(pl.REALPOS))" />
                    <label class="custom-control-label" for="cb_@pl.NAME">
                        Player @pl.REALPOS (@pl.NAME)
                    </label>
                </div>
            }
            <br />
            <button class="btn btn-sm btn-primary" @onclick="@(() => ClearCanvas())">Clear</button>
        }
    </div>
    <div>
        <BECanvas Width="1200" Height="1200" @ref="_canvasReference"></BECanvas>
    </div>
</div>




@code {
    [Parameter]
    public dsreplay replay { get; set; }

    int replayid = 0;
    bool loading = true;
    bool loadFailed = false;
    private Canvas2DContext _context;
    protected BECanvasComponent _canvasReference;

    Dictionary<int, bool> stPlayers = new Dictionary<int, bool>();
    Dictionary<int, bool> stSpawns = new Dictionary<int, bool>();

    static Dictionary<int, string> stColor = new Dictionary<int, string>()
{
        {0,  "whitesmoke"},
        {1, "blue" },
        {2, "DodgerBlue" },
        {3, "SlateBlue" },
        {4, "green" },
        {5, "MediumSeaGreen" },
        {6, "darkgreen" },
        {13, "crimson" },
        {14, "DarkRed" },
        {99, "whitesmoke" }
    };

    protected override async Task OnInitializedAsync()
    {
        replayid = replay.ID;

        for (int i = 0; i <= 10; i++)
        {
            stPlayers.Add(i, false);
        }

        int maxspawn = 0;
        foreach (dsplayer pl in replay.PLAYERS)
        {
            if (replay.Spawns.ContainsKey(pl.POS))
            {
                int spawns = replay.Spawns[pl.POS].Count();
                if (spawns > maxspawn)
                    maxspawn = spawns;
            }
        }
        for (int j = 1; j <= maxspawn; j++)
            stSpawns[j] = false;

        await NewReplay();
    }

    async Task AddSpawn(int sp)
    {
        stSpawns[sp] = !stSpawns[sp];

        if (stSpawns[sp] == false)
            await RemoveSpawn(sp);
        else
            await ShowSpawn(sp);
    }

    async Task AddPlayer(int pos)
    {
        stPlayers[pos] = !stPlayers[pos];

        if (stPlayers[pos] == false)
            await RemovePlayer(pos);
        else
            await ShowPlayer(pos);
    }

    async Task RemoveSpawn(int sp)
    {
        await ShowSpawn(sp, true);
    }

    async Task ShowSpawn(int sp, bool Remove = false)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();

        foreach (var ent in stPlayers.Where(x => x.Value == true))
        {
            dsplayer pl = replay.PLAYERS.Where(x => x.REALPOS == ent.Key).FirstOrDefault();
            if (pl != null)
            {
                int gameloop = 0;
                if (replay.Spawns.ContainsKey(pl.POS) && replay.Spawns[pl.POS].Count() > sp - 1)
                    gameloop = replay.Spawns[pl.POS][sp - 1];

                // DEBUG
                //await this._context.FillTextAsync(String.Format("{0}", gameloop), 10, 10);
                //await this._context.SetFillStyleAsync("purple");
                //await this._context.FillRectAsync(MoveX(145), MoveY(135), 5, 5);


                //List<UnitEvent> plUnits = new List<UnitEvent>(replay.UnitsBorn.Where(x => x.PlayerId == pl.POS));
                //List<UnitEvent> plSpUnits = new List<UnitEvent>(plUnits.Where(x => x.Gameloop >= gameloop - 50 && x.Gameloop <= gameloop + 50));


                foreach (var unit in replay.UnitBorn.Where(x => x.PlayerId == pl.POS && x.Gameloop >= gameloop - 50 && x.Gameloop <= gameloop + 50))
                {
                    int x = MoveX(unit.x);
                    int y = MoveY(unit.y);

                    //x = unit.x * 10;
                    //y = unit.y * 10;

                    string Color = stColor[pl.REALPOS];
                    if (Remove == true)
                        Color = stColor[99];


                    await this._context.SetFillStyleAsync(Color);
                    await this._context.FillRectAsync(x, y, 5, 5);

                    //await this._context.SetFontAsync("8px serif black");
                    //await this._context.StrokeTextAsync(String.Format("{0} {1}|{2}", unit.Name, unit.x, unit.y), x, y);

                    await this._context.SetFillStyleAsync(Color);
                    await this._context.FillTextAsync(String.Format("{0}", _dataname.FixUnitName(unit.Name)), x, y);
                    //await this._context.FillTextAsync(String.Format("{0} ({1}|{2})", _dataname.FixUnitName(unit.Name), unit.x, unit.y), x, y);

                    if (replay.UnitLife.ContainsKey(unit.Index) && replay.UnitLife[unit.Index].ContainsKey(unit.RecycleTag) && replay.UnitLife[unit.Index][unit.RecycleTag].Died != null)
                    {
                        UnitEvent Died = replay.UnitLife[unit.Index][unit.RecycleTag].Died;
                        int dx = MoveX(Died.x);
                        int dy = MoveY(Died.y);

                        //dx = unit.Died.x * 10;
                        //dy = unit.Died.y * 10;

                        string KillColor = stColor[pl.TEAM + 13];
                        if (Remove == true)
                            KillColor = stColor[99];


                        await this._context.SetFillStyleAsync(KillColor);
                        await this._context.FillRectAsync(dx, dy, 5, 5);

                        string killedby = "";
                        if (Died.KilledBy > 0 && replay.UnitLife.ContainsKey(Died.KilledBy) && replay.UnitLife[Died.KilledBy].ContainsKey(Died.KillerRecycleTag) && replay.UnitLife[Died.KilledBy][Died.KillerRecycleTag].Born != null)
                            killedby = " killed by " + _dataname.FixUnitName(replay.UnitLife[Died.KilledBy][Died.KillerRecycleTag].Born.Name) + " (p" + Died.KilledId + ")";
                        else if (Died.KilledId == 13 || Died.KilledId == 14)
                            killedby = " killed by neutral defence";
                        else
                            killedby = " killed by defence (p" + Died.KilledId + ")";


                        await this._context.SetFillStyleAsync(KillColor);
                        await this._context.FillTextAsync(_dataname.FixUnitName(unit.Name) + killedby, dx, dy);
                    }
                }
            }
        }
    }

    async Task RemovePlayer(int i)
    {

    }

    async Task ShowPlayer(int i)
    {

    }

    async Task ClearCanvas()
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();

        foreach (var ent in stPlayers.Keys.ToArray())
            stPlayers[ent] = false;

        foreach (var ent in stSpawns.Keys.ToArray())
            stSpawns[ent] = false;

        await this._context.ClearRectAsync(0, 0, 1200, 1200);

    }

    int MoveX(int x)
    {
        x *= 10;
        double rx = 0;
        rx = x + Math.Cos(DegreesToRadians(145)) * 925;

        //if (rx > 550)
        //    rx = rx - 2 * (rx - 550);
        //else if (rx < 550)
        //    rx = rx + 2 * (550 - rx);

        return (int)rx;
    }

    int MoveY(int y)
    {
        y *= 10;
        double ry = 0;
        ry = y - Math.Sin(DegreesToRadians(145)) * 925;
        ry = ry - Math.Sin(DegreesToRadians(180)) * 850;
        //ry -= 100;

        if (ry > 625)
            ry = ry - 2 * (ry - 625);
        else if (ry < 625)
            ry = ry + 2 * (625 - ry);

        return (int)ry;
    }

    (int, int) Rotate(double x, double y)
    {
        double s = Math.Sin(90);
        double c = Math.Cos(90);

        double cx = 600;
        double cy = 600;

        // translate point back to origin:
        x -= cx;
        y -= cy;

        // rotate point
        double xnew = x * c - y * s;
        double ynew = y * s + y * c;

        // translate point back:
        x = xnew + cx;
        y = ynew + cy;
        return ((int)x, (int)y);
    }

    double DegreesToRadians(double degrees)
    {
        return degrees * Math.PI / 180.0;
    }

    async Task NewReplay()
    {
        loading = true;
        loadFailed = false;
        stSpawns.Clear();
        replayid = replay.ID;

        if (replay.PLAYERS.FirstOrDefault().STATS.Count() == 0)
        {
            string reppath = _dsData.ReplayFolder.Where(x => x.Value == replay.REPLAY.Substring(0, 47)).FirstOrDefault().Key;
            reppath += "/" + replay.REPLAY.Substring(48);
            reppath += ".SC2Replay";
            if (File.Exists(reppath))
                await LoadReplay(reppath);
        }
        else
        {
        }
        loading = false;
        if (replay.PLAYERS.FirstOrDefault().STATS.Count() == 0)
            loadFailed = true;

        int maxspawn = 0;
        foreach (dsplayer pl in replay.PLAYERS)
        {
            if (replay.Spawns.ContainsKey(pl.POS))
            {
                int spawns = replay.Spawns[pl.POS].Count();
                if (spawns > maxspawn)
                    maxspawn = spawns;
            }
        }
        for (int j = 1; j <= maxspawn; j++)
            stSpawns[j] = false;

        StateHasChanged();
    }

    async Task LoadReplay(string file)
    {
        string repid = replay.REPLAY;
        dsreplay myreplay = await Decode.ScanRep(file, _dsData, true);
        if (myreplay == null) return;
        myreplay.REPLAY = repid;
        myreplay.ID = replayid;
        int index = _dsData.Replays.FindIndex(x => x.ID == replay.ID);
        _dsData.Replays[index] = myreplay;
        replay = myreplay;

        //var json = JsonSerializer.Serialize(replay.UnitBorn);
        //File.WriteAllText("/data/unitst2p6.json", json);
      


        //await DrawSpawn(5024);
        //StateHasChanged();
    }
}
