@page "/scan"
@using sc2dsstats.Models
@using System.ComponentModel
@inject StartUp StartUp
@inject ScanStateChange StateChange
@inject DSdataModel  DSdata

<h3>Scan</h3>
<div class="jumbotron">
    New replays found: @DSdata.Todo.Count <br />
    Expected time needed: @(string.Format("{0:0.00}", (DSdata.Todo.Count * 7.2 / StartUp.Conf.Cores / 60 / 60))) h <br />
    <br />
    You can always quit the process, next time it will continue at the last position. <br />
</div>
<div class="form-group">
    <label for="sel1">CPU Cores</label>
    <select class="form-control w-auto" id="sel1" @bind="@StartUp.Conf.Cores">
        @for (int i = 1; i <= Environment.ProcessorCount; i++)
        {
            if (i == 2)
            {
                <option selected="selected" value=@i>@i</option>
            }
            else
            {
                <option value=@i>@i</option>
            }
        }
    </select>
</div>
@if (CheckUploadCredential == false)
{
    <button class="btn btn-primary mb-2" @onclick="@ScanRepsPre">Scan</button>
}
else
{
    <div class="w-auto">
        <label>
            To improve this application it would be very nice if the statistics were uploaded from time to time.
            <br />
            All player names (including yours) will be anonymized before sending. By checking you agree that your anonymized DS-replay data will be used at <a href="https://www.pax77.org/dsweb">https://www.pax77.org/dsweb</a> to generate global charts.
            <br />
            You can remove the Upload credential at any time at <a href="config">Config</a>
        </label>
    </div>
    <div class="row mb-2">
        <button class="btn btn-secondary mr-3" @onclick="@AllowUpload">Yes</button>
        <button class="btn btn-primary mr-3" @onclick="@DeclineUpload">No</button>
    </div>
}
<h6>@SCAN</h6>
<h5>@INFO</h5>
<br />
@if (Decode.Failed.Count() > 0)
{
    <div>
        <h4>@Decode.Failed.Count() replays failed decoding</h4>
        Please check on <a href="https://github.com/ipax77/dsweb_desktop">GitHub</a> for an update.
        <br />
        Failed Replays:
        <table class="table table-dark">
            <thead>
                <tr><th>Path</th></tr>
            </thead>
            <tbody>
                @foreach (string rep in Decode.Failed)
                {
                    <tr><td>@rep</td></tr>
                }
            </tbody>
        </table>
    </div>

}



@code {
    int count = 0;
    string INFO = "";
    string SCAN = "";
    bool init = false;
    bool CheckUploadCredential = false;

    async Task ScanRepsPre()
    {
        if (StartUp.Conf.Uploadcredential == true)
            await ScanReps();
        else
        {
            CheckUploadCredential = true;
            StateHasChanged();
        }
    }

    public async Task AllowUpload()
    {
        StartUp.Conf.Uploadcredential = true;
        StartUp.Save();
        CheckUploadCredential = false;
        StateHasChanged();
        await ScanReps();
    }

    public async Task DeclineUpload()
    {
        CheckUploadCredential = false;
        StateHasChanged();
        await ScanReps();
    }

    async Task ScanReps()
    {
        if (StartUp.SAMPLEDATA == true) StartUp.SAMPLEDATA = false;
        await DSdata.NewReplays();
        if (DSdata.Todo.Count > 0)
        {
            if (StateChange.Scan.Running == false)
            {
                StateChange.Scan.Running = true;
                SCAN = "Decoding replays ...";
                Decode.Doit(DSdata, StateChange, StartUp.Conf.Cores);
            }
        }
        else
        {
            SCAN = "No new replays found.";
        }
    }

    private async void Update(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            if (StateChange.Scan.Running == true)
            {
                SCAN = "Decoding replays ..";
                INFO = StateChange.Scan.Info;
            }
            else
            {
                SCAN = "Jobs done.";
                INFO = StateChange.Scan.Info;
                INFO += " Elapsed time: " + Decode.Elapsed.ToString("c");
            }
            StateHasChanged();
        });
    }

    protected override async Task OnInitializedAsync()
    {
        if (INFO.Length > 0)
        {
            SCAN = "Decoding replays ...";
            INFO = StateChange.Scan.Info;
        }

        if (StartUp.Conf.Autoscan == true)
        {
            await ScanReps();
        }
        else
        {
            await FindReps();
        }

        StateChange.PropertyChanged += Update;
    }

    private async Task FindReps()
    {
        await DSdata.NewReplays();
        StateHasChanged();
    }

    public void Dispose()
    {
        //StateChange.PropertyChanged -= Update;
    }

}
